body{
    margin: 0px;
    background-color: #FAFAFA;
}
.container{
    margin: 0px;
}
.top-row{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #272829;
    padding-left: 54px;
    padding-right: 54px;
    flex-wrap: wrap;
}

.logo{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    color: azure;
}


.social-link{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.middle{
    display: flex;
    justify-content: space-around;
    background-color:#686868 ;
    padding: 24px 54px 24px 54px;
}
.car-collection{
    border-radius: 15px;
}
.car-collection:hover{
    transform: scale(1.03);
    transition: all 1s ease;
    box-shadow: 0 0 50px rgba(33,33,33,.2);
}
.midline{
    display: flex;
    align-items: center;
    flex-direction: column ;
    flex-wrap: wrap;
    background-image: url('Image/supercar/upercar-collection-wallpapers\ \ front.png');
    background-size: cover;
    padding-bottom: 24px;
}
.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card{
    background-color: #FAFAFA;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    height: 151.88px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}


.card p{
    padding: 10px;
    
}
.card h2{
    padding: 10px;
    text-align: center;
}

.card:hover{
    background-color: #292929;
    color: #FAFAFA;
    transform: scale(1.05);
    transition  : all 1s ease;
}
.title-above-card{
    padding: 10px;
    color: #292929;
}

.quote{
    padding: 72px;
    background-color: #292929;
    text-align: center;
    color: #FAFAFA;
}
.end{
    color:#131313;
    margin: 60px;
    padding: 60px;
    background-color: #686868;
    font-size: large;
}
footer{
    color: #FAFAFA;
    padding: 10px;
    background-color: #292929;
    text-align: center;
}
.Aswome-car{
    padding: 45px;
    padding-right: 250px;  
}



.car-1{
    background-image: url('Image/supercar/bugati.jpeg')  ;
}
.car-2{
    background-image: url('Image/supercar/Ferrari.jpg');
}
.car-3{
    background-image:  url('Image/supercar/lambo.jpeg');
}
.car-4{
    background-image: url('Image/supercar/Koenigsegg.jpg');
}

